@import "tailwindcss";

:root {
  --background: #F1F6F4;
  --foreground: #172B36;

  --primary: #FFC801;
  --secondary: #114C5A;
  --accent: #FF9932;

  --light: #D9E8E2;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-inter);
}
.heading{
  font-family:var(--font-jetbrains);
}

.text{
  font-family:var(--font-inter);
}

.container{
  width:min(1280px,92%);
  margin-inline:auto;
}
.btn-primary{
  background: var(--primary);
  color: black;
  border-radius: 9999px;
  padding: 14px 28px;
  font-weight: 600;
  transition: all .3s ease;
}

.btn-primary:hover{
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0,0,0,.12);
}

.btn-secondary{
  border:1px solid var(--secondary);
  border-radius:9999px;
  padding:14px 28px;
  transition:.3s;
}

.btn-secondary:hover{
  background:var(--secondary);
  color:white;
}